<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soda App</title>
</head>
<body>
    <h1>This is My Sodas App</h1>
    <h4>Please navigate through and check out all of the sodas!</h4>

    <a href="/sodas">see all sodas</a>
</body>
</html>